# LIST

In [3]:
# We would ask the user for his name and mobile number
name = input("What's your name:")
number = input("What's your mobile number:")

What's your name:john
What's your mobile number:807490xxxx

In [4]:
print(name,number)

john 807490xxxx

In [8]:
# generate a three digit random integers for user id
import random
from random import randint
value = randint(100,999)
print(value)

289

In [11]:
# Now if I want to store these values together I can create a list data type
list1 = [name,number,value]
print(list1)

['john', '807490xxxx', 289]

# TUPLE

In [14]:
# A tuple can be defined without using parenthesis
t = 1,2,3,4,5
print(t)

(1, 2, 3, 4, 5)

In [15]:
# Single value tuple
sample_tuple = 1,
print(sample_tuple)

(1,)

In [21]:
sample_tuple = 1  # This is not a tuple
type(sample_tuple)

int

In [22]:
sample_tuple =(1)  # This is not a tuple
type(sample_tuple)

int

# Indexing in tuples

In [23]:
t = ("Mumbai", 84, "Python")
t

('Mumbai', 84, 'Python')

In [24]:
# gives the element at index location 1
t[1]

84

In [25]:
# gives the last element from tuple
t[-1]

'Python'

# Slicing

In [27]:
t = ("Seattle", 84, "Python", 5, 2, 1)
t

('Seattle', 84, 'Python', 5, 2, 1)

In [28]:
# Slicing first 3 elements from t
t[0:3]

('Seattle', 84, 'Python')

In [29]:
# Slicing last 2 elements from t
t[-2:]

(2, 1)

In [30]:
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

6

# Cancatenating tuples

In [35]:
tup1 = ('This', 'is', 'Session', 2,)
tup1

('This', 'is', 'Session', 2)

In [36]:
tup2 = ('on','tuple')
tup2

('on', 'tuple')

In [37]:
# Adding contents of tup2 to tup1 and storing in tup3
tup1 = ('This', 'is', 'Session', 2,)
tup2 = ('on', 'Tuples')
tup3 = tup1+tup2
tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

# sum() - min() - max()

In [38]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [39]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [40]:
t = (2, 4, 3, 5, 7)
max(t)

7

# Immutability of tuples

In [41]:
t = ("USA", 4, 3, "Disco", 7.5)
t

('USA', 4, 3, 'Disco', 7.5)

In [43]:
t[3] = "Hard work"
t

TypeError: 'tuple' object does not support item assignment

In [46]:
newt = t[0:5]+("hard work",)+t[6:]
newt

('USA', 4, 3, 'Disco', 7.5, 'hard work')

# Sorting a tuple

In [47]:
t = (2,3,6,4,8,5)
t

(2, 3, 6, 4, 8, 5)

In [50]:
y = sorted(t)
tuple(y)

(2, 3, 4, 5, 6, 8)

# Nested Tuples

In [51]:
t = (1,5,"Disco", ("Python", "Java"))
t

(1, 5, 'Disco', ('Python', 'Java'))

In [52]:
# Access \"Java\" from the nested tuple\
t[3][1]

'Java'

# Packing and Unpacking In Tuples

In [57]:
n = (1,2,3,4)     # Packing
n

(1, 2, 3, 4)

In [58]:
(a,b,c,d) = n     # Unpacking 
c

3

# dir() - to view the attributes or methods of an object

In [60]:
y = ()
print(dir(y))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [63]:
t = []
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [64]:
t = set()
print(dir(t))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [65]:
t = {}
print(dir(t))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Lists are an ordered sequnce of mixed data types.
Lists are written as comma-separated  elements within square brackets

In [68]:
a = ["Usa",87,2.5,45,"India"]
a

['Usa', 87, 2.5, 45, 'India']

# Nested List

In [70]:
l = ["naveen","praveen",[143,6.3],("rana","nithin")]
l

['naveen', 'praveen', [143, 6.3], ('rana', 'nithin')]

# Indexing

In [73]:
l = ["naveen","praveen",[143,6.3],("rana","nithin")]
l[0]

'naveen'

In [74]:
l[-3]

'praveen'

In [75]:
l[-1][-1]

'nithin'

# Slicing

In [78]:
l = ["naveen","praveen",[143,6.3],("rana","nithin")]
l[0:3]

['naveen', 'praveen', [143, 6.3]]

In [80]:
l[0:4:2]

['naveen', [143, 6.3]]

# dict()

In [98]:
d = {}
type(d)

dict

In [99]:
d = {'a':1, 'b':2}
type(d)

dict

In [100]:
d = dict(a=1, b=2)
type(d)

dict

In [101]:
d = ('a':1, 'b':2)
type(d)

SyntaxError: invalid syntax (3376772814.py, line 1)

# Membership in Lists

In [102]:
L1 = [1,2,3,4]
print(1 in L1)

True

In [103]:
print(8 not in L1)

True

In [104]:
print(7 in L1)

False

# List Concatanetion

In [132]:
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

In [106]:
new_l = L+[5,9]
new_l

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 9]

In [133]:
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [137]:
# Replace \"Biology\" with \"Physics\"\n
L[1] = "Physics" 
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

# extend()

In [139]:
L.extend([5, 8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, 5, 8]

# append()

In [141]:
L.append([5, 8])
L

['Chemistry',
 'Physics',
 [1989, 2004],
 ('Oreily', 'Pearson'),
 5,
 8,
 5,
 8,
 [5, 8],
 [5, 8]]

# del Command

In [149]:
del L[0]
L

[[5, 8], [5, 8]]

In [150]:
L

[[5, 8], [5, 8]]

In [151]:
a = ['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, 5, 8]
a.pop()

8

In [154]:
a.remove('Physics')
a

[[1989, 2004], ('Oreily', 'Pearson'), 5, 8, 5]

In [155]:
n = [32, 24, 65, 9]
n.sort()

In [156]:
n

[9, 24, 32, 65]

In [158]:
n.sort(reverse = True)
n

[65, 32, 24, 9]

# Difference between sort and sorted

In [164]:
sample= ['Mango', 'Orange', 'Strawberry']
sample

['Mango', 'Orange', 'Strawberry']

In [165]:
D = sample.sort()

In [167]:
print(sample)

['Mango', 'Orange', 'Strawberry']

In [168]:
print(D)

None

In [169]:
A = ['Orange', 'Strawberry', 'Mango']
print(A)

['Orange', 'Strawberry', 'Mango']

In [179]:
A = ["Orange", "Strawberry", "Mango"]
A

['Orange', 'Strawberry', 'Mango']

In [181]:
C = sorted(A)
C

['Mango', 'Orange', 'Strawberry']

# Shadow Copying

In [186]:
A = ["Orange", "Strawberry", "Mango"]
B = A

In [190]:
B

['apple', 'Strawberry', 'Mango']

In [189]:
A[0] ="apple"
A

['apple', 'Strawberry', 'Mango']

In [191]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]
B

['Orange', 'Strawberry', 'Mango']

In [192]:
A[0] ="Banana"
A

['Banana', 'Strawberry', 'Mango']

In [193]:
B

['Orange', 'Strawberry', 'Mango']

# sets()

Sets are a type of collection like lists and tuples, storing mixed data.\n
Sets are enclosed within curly brackets and elements are written as comma-separated.\n
Sets are unordered\n
Sets do not allow duplicates

In [200]:
l = [1,3,2,4,5,5]
set_1 = set(l)
set_1

{1, 2, 3, 4, 5}

In [205]:
john = {1, 2, 3, 4, 5}
john

{1, 2, 3, 4, 5}

In [221]:
john.add("India")
john

{1, 2, 3, 4, 5, 'Indai', 'India'}

In [225]:
y = {1, 2, 3, 4, 5, 'India'}
y.remove('India')
y

{1, 2, 3, 4, 5}

In [224]:
av = {1,2,3}
av.remove(3)
av

{1, 2}

In [228]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
A|B
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

In [231]:
A&B
A.intersection(B)

{2, 4}

In [233]:
A-B
A.difference(B)

{0, 6, 8}

In [239]:
A^B
A.symmetric_difference(B)

{0, 1, 3, 5, 6, 8}

In [240]:
a = set()
print(dir(a))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

# dict()

A dictionary stores element as keys and values pairs.
The key is like an index, it's is always unique and immutable. 
The values are the objects that contain information.
Values are accessed using their keys.
Each key is followed by a value separated by a colon. 
The values can be immutable, mutable, and duplicates. 
Each key and value pair is separated by a comma enclosed inside curly brackets.

In [241]:
# Creating a dictionary
d = {'France': 'Euros', 'India': 'INR', 'USA': '$'}
d

{'France': 'Euros', 'India': 'INR', 'USA': '$'}

In [243]:
# Access value using keys
d.keys()

dict_keys(['France', 'India', 'USA'])

In [244]:
# Replace the value for a key in a dictionary
d['USA'] = 'dolar'
d

{'France': 'Euros', 'India': 'INR', 'USA': 'dolar'}

In [245]:
# Insert new key value pair into a dictionary
d['Andrapradesh'] = 'wineshops'
d

{'France': 'Euros',
 'India': 'INR',
 'USA': 'dolar',
 'Andrapradesh': 'wineshops'}

In [246]:
# Deleting a key value pair
del d['France']
d

{'India': 'INR', 'USA': 'dolar', 'Andrapradesh': 'wineshops'}

# Sorting a dictionary

In [247]:
sorted(d)

['Andrapradesh', 'India', 'USA']

In [250]:
d.keys()

dict_keys(['India', 'USA', 'Andrapradesh'])

In [249]:
d.values()

dict_values(['INR', 'dolar', 'wineshops'])

# Update()

In [252]:
d.update({'USA':'dolar'})
d

{'India': 'INR', 'USA': 'dolar', 'Andrapradesh': 'wineshops'}