In [11]:
# Question:1 employee data with key as id of the employee and values as age of the employee\n
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25,
                113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43,
                126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 
                138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24,
                151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 
                166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 
                178: 26, 179: 27}
print(Employee_data.keys())

print(Employee_data.values())

dict_keys([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 160, 161, 162, 163, 164, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179])
dict_values([43, 25, 43, 31, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 39, 29, 33, 39, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [12]:
# Identify the senior most employees age
# ==> way 1
max(Employee_data.values())
# ==> way 2
print(sorted(Employee_data.values())[-1])

45

In [13]:
# Question:2 Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]
if 159 in Employee_data:
    print('Find')
else:
    print('NA')

NA

In [14]:
# Question:3 Count the total number of employee in the organization
print(len(Employee_data))

74

In [21]:
# Question:4 Calculate the mean age of the employees
# ==> way 1
sum (Employee_data.values())/74
# ==> way 2
print(sum(Employee_data.values())/len(Employee_data))

31.136986301369863

In [16]:
# Question: 5 Perform the following two tasks and then calculate the updated mean age of the employees\n",
# "Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>\n"
# "Task2 Remove the employ with employee id - 143 <br>\n",
Employee_data[104] = 27  
Employee_data[140] = 27
Employee_data[164] = 27

# del Employee_data[143]
sum(Employee_data.values())/len(Employee_data)

31.243243243243242

In [20]:
# Question: 5 Perform the following two tasks and then calculate the updated mean age of the employees
# Type your code here
# task 1 
d1 = {104: 27, 140:27, 164:27}
Employee_data.update(d1)
#check the ages of these emplyees. 
print ("Age of person with employee ID 104 is",Employee_data[104])
print ("Age of person with employee ID 140 is",Employee_data[140])
print ("Age of person with employee ID 164 is",Employee_data[164])
#task 2
del Employee_data[143]
# find the mean 
mean = sum(Employee_data.values()) / len(Employee_data)
print ("The average age of employees is", mean)

Age of person with employee ID 104 is 27
Age of person with employee ID 140 is 27
Age of person with employee ID 164 is 27
The average age of employees is 31.136986301369863