In [2]:
# "Question 1: Print a random integer between 100 and 135"

import random
from random import randint
print(randint(100,135))

134

<!-- # Question 2: Create a list consisting of first 10 even numbers. -->

In [3]:
# Question 2: Create a list consisting of first 10 even numbers.
# ==>1 way 
evennumbers = [0,2,4,6,8,10,12,14,16,18]
print(evennumbers)

# ==>2 way
Even_numbers =[]
for num in range(0,20,2):
    Even_numbers.append(num)
print(Even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [10]:
# Question 3: Create a list in the following manner: [birthyear, firstname, birthdate, lastname]
data = [2000,"Naveen",15,"kumar"]
print(data)

[2000, 'Naveen', 15, 'kumar']

In [36]:
# Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:\n
# The list should be such that it first stores the name of students followed by the subjects and then their 
# scores in nested lists
list2=[['Alex','Cody'],['Mathematics,English'],[97,95],[89,92]]
print(list2)

[['Alex', 'Cody'], ['Mathematics,English'], [97, 95], [89, 92]]

In [16]:
# Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]
print("k" in list3)

True

In [17]:
# Question 6: In the tuple given below, print the 3rd element.
tuple1=(1,'hello','world','567')
print(tuple1[2])

world

In [20]:
# Question 7: Given below is a tuple. Sort the tuple and print the result.
tuple2=(1,25,67,100,3,54)
print(sorted(tuple2))

[1, 3, 25, 54, 67, 100]

In [22]:
# Question 8: Given below is a list, convert into a set and print the output also print the length of the set.
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]
a = set(list4)
print(len(a))

7

In [33]:
# Question 9: Given below are two sets, perform the operations given below
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

In [35]:
# Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:
dict= {"Sam":21,
    "Cody": 12,
    "Addy": 3,
    "Zach": 45,
    "Amy": 6
      }
print(dict)

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 45, 'Amy': 6}

In [37]:
# Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47.
# Make the required changes and print the new dictionary
dict= {"Sam":21,
    "Cody": 12,
    "Addy": 3,
    "Zach": 45,
    "Amy": 6
      }
dict["Zach"] = 47
print(dict)

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 47, 'Amy': 6}

In [46]:
# Question 12: Sort the dictionary according to roll number.\n
dict= {"Sam":21,
    "Cody": 12,
    "Addy": 3,
    "Zach": 47,
    "Amy": 6
      }
# print(dict.values())
print(sorted(dict))

dict_values([21, 12, 3, 47, 6])
['Addy', 'Amy', 'Cody', 'Sam', 'Zach']